<div class="all_posts">
    <% p = @posts.first %>
    <%= erb :post_list, :locals => {:post => p}, :layout => false %>

    <div class="post_list">
    	<% @posts.each do |post| %>
    		<%= erb :post_summary, :layout => false, :locals => {:post => post}%>
    	<% end %>
    </div>

    <div><a href="/archive">Show All Posts</a></div>
</div>