<% p = @posts.first %>
<%= erb :post_list, :locals => {:post => p}, :layout => false %>
<!--<hr class="post">-->
<!--<div class="separator">~</div>-->

<h2 class="alt">More Posts</h2>

<div class="archive">
	<% @posts.each do |p| %>
		<%= erb :post_summary, :layout => false, :locals => {:p => p}%>
	<% end %>
</div>

<div><a href="/archive">Show All Posts</a></div>