<div class="post">
	<div class="date">
		<%= archive_post_date p %>
	</div> 
	<!--<div class="tags">
	<%# p.tags.each do |t| %>
		<a href="<%#= tag_url t %>"><%#= t.name %></a>
	<%# end %>
	</div>-->
	<div class="link"><a href="<%= post_url p %>"><%= p.title %></a></div>
	<!--<span class="description"><%#= p.summary %></span>-->
</div>