<div class="all_posts">
    <% p = @posts.first %>
    <%= erb :post_list, :locals => {:post => p}, :layout => false %>

    <h2 class="alt">More Posts</h2>

    <div class="post_list">
    	<% @posts.each do |p| %>
    		<%= erb :post_summary, :layout => false, :locals => {:p => p}%>
    	<% end %>
    </div>

    <div><a href="/archive">Show All Posts</a></div>
</div>