<div class="tag">
	<h2 class="alt">
		Posts tagged with "<%= @tag %>"
	</h2>
	
	<div class="archive">
		<% @posts.each do |p| %>
			<%= erb :post_inline, :layout => false, :locals => {:p => p}%>
		<% end %>
	</div>
	
	<!--<div class="feed">
		<p><a href="<%#= tag_feed_url @tag %>">Feed for <%#= @tag %></a></p>
	</div>-->
</div>
