body {
  font-family:'lucida grande', 'lucida sans unicade', sans-serif;
  font-size:100%;
  line-height:1.8em;
  background: url(../images/herald.png) fixed no-repeat;
}

a {
	background: #EEF;
	color: #000;
}

p {
	margin: 1.0em 0 1.0em 0;
}

p + p {
	text-indent: 0em;
	margin: 1.0em 0 1.0em 0;
}

#content h1 a, h2 a, h3 a, h4 a, h5 a {
	text-decoration: none;
	background: none;
	color: #666;
}

#nav a {
	background: none;
	color: #333;
}

#footer {
	background: #FBFBFF;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 40px;
	border-top: solid 30px #DDD;
}

h1,h2,h3,h4,h5 {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0px;
}


h1 {
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#head {
	margin-bottom: 30px;
}

#logo {
	
}

#nav a { 
	text-transform: uppercase; 
	color: #333; 
	font: 14px "lucida console"; 
	text-decoration: none; 
	padding-right: 10px;
}

#nav a:hover, #nav a.currentnav { 
	text-decoration:underline; 
}

hr {
  margin:3em 0;
  padding:0;
  color:#eee;
}



/** BLOG POSTS **/
.blog_post {
	margin-bottom: 30px;
}

.blog_post .info {
	float: right;
}

.blog_post .info .date {
	color: #AAA;
	padding-left: 10px;
}

.blog_post .content h1 {font-size:2em;margin-bottom:0.75em;}
.blog_post .content h2 {font-size:1.5em;line-height:1;margin-bottom:1em;}
.blog_post .content h3 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
.blog_post .content h4 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
.blog_post .content h5 {font-size:1em;font-weight:bold;}

/** CODE **/
/* CODE */
 
code, pre, textarea, tt {
  font-family:"monaco", "andale mono", "bitstream vera sans mono",
    "consolas", monospace;
    
  line-height:1.15;
  color:#222;
 }

pre, div.box, blockquote.box {
  background:#F0F0FF;
  border:2px solid #E5E0FF;
  padding:1em;

  margin-left: 0px;
  margin-right: 0px;
}
code, tt {
  font-size:1.0em;
  color:#444;
}
h1 code, h2 code, h3 code, h4 code {
  color:#333;
}





div.frame img {
	padding:12px;
	border:solid;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-width: 1px 2px 2px 1px;
	background-color:#EEF;
}

div.frame a:hover img {
	background-color:#FFF;
}

div.frame {
	text-align: center;
}

div.inline.frame {
	display: inline;
}


.badges {
	vertical-align: middle;
}
.badges div {
	padding: 10px;
	background: #EEF;
	border: solid 1px #DDE;
	margin: 10px;
	float: left;
}

.badges div:hover {
	background: #FFF;
}

.badges img {
	background-color: #FFF;
	padding: 10px;
}

.blog_post .content .download {
	background: url('../images/download.png') no-repeat;
	min-height: 48px;
	padding-left: 58px;
}

.blog_post .content .download a{
	margin-right: 10px;
}



em {
	font-style: normal;
	font-weight: bold;
}