body {
  font-family: 'lucida grande', 'lucida sans unicade', sans-serif;
  font-size: 100%;
  line-height: 1.8em;
  background: url(../images/herald.png) fixed no-repeat; }
  body .meta {
    display: none; }
  body .clear {
    clear: both; }
  body em {
    font-style: normal;
    font-weight: bold; }
  body p {
    margin: 1.0em 0 1.0em 0; }
    body p + p {
      margin: 1.0em 0 1.0em 0;
      text-indent: 0em; }
  body h1 {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px; }
  body code, body pre, body textarea, body tt {
    font-family: "monaco", "andale mono", "bitstream vera sans mono","consolas", monospace;
    line-height: 1.15;
    color: #222; }
  body pre, body div.box, body blockquote.box {
    background: #F0F0FF;
    border: 2px solid #E5E0FF;
    padding: 1em;
    margin-left: 0px;
    margin-right: 0px; }
  body code, body tt {
    font-size: 1.0em;
    color: #444; }
  body a {
    background: #eeeeff;
    color: #000; }
  body #head {
    margin-bottom: 30px; }
    body #head #nav a {
      background: none;
      color: #333;
      text-transform: uppercase;
      font: 14px "lucida console";
      text-decoration: none;
      padding-right: 10px; }
      body #head #nav a:hover, body #head #nav a.currentnav {
        text-decoration: underline; }
  body #content h1 a, body #content h2 a, body #content h3 a, body #content h4 a, body #content h5 a {
    text-decoration: none;
    background: none;
    color: #666; }
  body #content h1, body #content h2, body #content h3, body #content h4, body #content h5 {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0px; }
  body #content hr {
    margin: 3em 0;
    padding: 0;
    color: #eee; }
  body #content .tag .feed {
    padding-top: 10px;
    clear: both; }
  body #content .archive .post {
    margin-bottom: 20px;
    clear: both; }
  body #content .archive .tags {
    padding-right: 10px;
    float: right; }
    body #content .archive .tags a {
      font-size: 0.8em; }
  body #content .archive .date {
    color: #AAA;
    text-align: right;
    font-size: 0.75em; }
  body #content .archive .description {
    font-size: 0.75em;
    height: 2em;
    overflow: hidden;
    text-overflow: ellipsis; }
  body #content .blog_post {
    margin-bottom: 30px; }
    body #content .blog_post .info {
      float: right;
      margin-left: 15px; }
      body #content .blog_post .info .date {
        color: #AAA;
        padding-left: 10px; }
    body #content .blog_post .content h1 {
      font-size: 2em;
      margin-bottom: 0.75em; }
    body #content .blog_post .content h2 {
      font-size: 1.3em;
      line-height: 1;
      margin-bottom: 1em; }
    body #content .blog_post .content h3 {
      font-size: 1.2em;
      line-height: 1.25;
      margin-bottom: 1.25em; }
    body #content .blog_post .content h4 {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 1.5em; }
    body #content .blog_post .content h5 {
      font-size: 1em;
      font-weight: bold; }
    body #content .blog_post .content .download {
      background: url('../images/download.png') no-repeat;
      min-height: 48px;
      padding-left: 58px; }
      body #content .blog_post .content .download a {
        margin-right: 10px; }
    body #content .blog_post .content div.frame {
      text-align: center; }
      body #content .blog_post .content div.frame img {
        padding: 12px;
        border: solid;
        border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
        border-width: 1px 2px 2px 1px;
        background-color: #eeeeff; }
      body #content .blog_post .content div.frame a:hover img {
        background-color: #FFF; }
    body #content .blog_post .content div.inline.frame {
      display: inline; }
  body #footer {
    background: #FBFBFF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    border-top: solid 30px #DDD; }
    body #footer .credits {
      font-size: 0.75em;
      margin-top: 1.25em; }
    body #footer .badges {
      vertical-align: middle; }
      body #footer .badges div {
        padding: 10px;
        background: #eeeeff;
        border: solid 1px #DDE;
        margin-top: 10px;
        margin-right: 10px;
        float: left; }
        body #footer .badges div:hover {
          background: #FFF; }
      body #footer .badges img {
        background-color: #FFF;
        padding: 10px; }
